@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --h1-font-size: calc(24px + 1.2vw);
  --h2-font-size: calc(20px + 1.2vw);
  --h3-font-size: calc(12px + 0.8vw);
  --h4-font-size: calc(12px + 0.4vw);
  --normal-font-size: calc(12px + 0.4vw);
  --small-font-size: calc(var(--normal-font-size) / 1.5);
}

h1 {
  font-family: var(--font-family);
  color: inherit;
  margin: 0;

  &.title {
    font-size: var(--h1-font-size);
    font-weight: bold !important;
    font-style: normal !important;
    line-height: 1.5;
  }

  &.subtitle {
    font-size: calc(var(--h1-font-size) / 1.75);
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
  }
}

h2 {
  font-family: var(--font-family);
  color: inherit;
  margin: 0;

  &.title {
    font-size: var(--h2-font-size);
    font-weight: bold !important;
    font-style: normal !important;
    line-height: 1.5;
  }

  &.subtitle {
    font-size: calc(var(--h2-font-size) / 1.75);
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
  }
}

h3 {
  font-family: var(--font-family);
  color: inherit;
  margin: 0;

  &.title {
    font-size: var(--h3-font-size);
    font-weight: bold !important;
    font-style: normal !important;
    line-height: 1.5;
  }

  &.subtitle {
    font-size: calc(var(--h3-font-size) / 1.75);
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
  }
}

h4 {
  font-family: var(--font-family);
  color: inherit;
  margin: 0;

  &.title {
    font-size: var(--h4-font-size);
    font-weight: bold !important;
    font-style: normal !important;
    line-height: 1.5;
  }

  &.subtitle {
    font-size: calc(var(--h4-font-size) / 1.75);
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
  }
}

a {
  font-family: var(--font-family);
  font-weight: inherit;
  color: inherit;
  text-transform: none;
  text-decoration: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2 ease;
  }
}

p {
  margin: 0;
  font-family: var(--font-family);
  color: inherit;
  font-size: var(--normal-font-size);
  font-weight: normal;
  line-height: 1.5;
}

span,
label {
  font-family: var(--font-family);
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.5;
}

.font-style-italic {
  font-style: italic;
}

.font-size-32px {
  font-size: 32px;
}